/* Confirm.css */

.confirm-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #313338;
    min-height: 100vh;
    padding: 16px;
  }
  
  .confirm-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .contact-button-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 16px;
  }
  
  